//palette
$primaryColor: #e89f71;
$secPrimaryColor: #f9f1e7;
$grey1: #3a3a3a;
$grey2: #616161;
$grey3: #898989;
$grey4: #b0b0b0;
$grey5: #d8d8d8;
$lightBG: #f4f5f7;

//breakpoints

$largeDesctop: 1440px;
$desctop: 1024px;
$tablet: 768px;
$mobile: 480px;

//fonts

$text-14: 1.4rem;
$text-16: 1.6rem;
$text-18: 1.8rem;
$text-20: 2rem;
$text-24: 2.4rem; //h5
$text-28: 2.8rem; //h4
$text-40: 4rem; //h2
$text-56: 5.6rem; //h1

// Line heights
$lh-text: 1.5; // 150%
$lh-heading: 1.2; // 120%
