//palette
$primaryColor: #e89f71;
$secPrimaryColor: #f9f1e7;
$grey1: #3a3a3a;
$grey2: #616161;
$grey3: #898989;
$grey4: #b0b0b0;
$grey5: #d8d8d8;
$lightBG: #f4f5f7;

//breakpoints

$largeDesctop: 1440px;
$desctop: 1024px;
$tablet: 768px;
$mobile: 480px;
