@import "normalize.scss";
@import "default.scss";
@import "vars.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "./modules/header.scss";
@import "./modules/features.scss";
@import "./modules/footer.scss";
@import "./modules/furniture.scss";
@import "./modules/inspirations.scss";
@import "./modules/products.scss";
@import "./modules/share.scss";
@import "./modules/tips.scss";
