@import "normalize.scss";
@import "default.scss";
@import "vars.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "./modules/header.scss";
@import "./modules/features.scss";
@import "./modules/footer.scss";
@import "./modules/furniture.scss";
@import "./modules/inspirations.scss";
@import "./modules/products.scss";
@import "./modules/share.scss";
@import "./modules/tips.scss";

h1 {
  font-family: "Gilroy", sans-serif;
  color: $primaryColor;
  font-size: 1.5rem;
  @include respondTo(768px) {
    font-size: 5rem;
  }
}
